.container {
    margin:0 auto;
    border:4px solid lightgray;
    max-width: 680px;
    background-color: black;
    /*text-align: center;*/
}

.imageBox {
    margin:auto;
    margin-top: 10px;
    max-height: 460px;
    max-width: 600px;
    background-color:black;
    padding: 5px 5px 0px 5px;
}

#mainImage {
    max-width: 100%;
    margin: auto;
}

#thumbnails {
    background-color: red;
}

ul {
    overflow:hidden;
    list-style-type: none;
    cursor: pointer;
}

li {
    float: left;
    margin: 3px;
    width: 92px;
    height:60px;
}

img.thumbnailImage {
    width: 95px;
    height: 60px;
}

.toolbar {
    background-color: yellow;
    overflow: hidden;
    text-align: center;
  
}

.nav {
    display: inline-block;
    background-color: rgb(255, 0, 13);
    width:150px;
  
}

#prev {
    width: 40px;
    height:20px;
    float:left;
    color: white;
    cursor: pointer;
    background-color: green;
}

#next {
    width: 40px;
    height:20px;
    float:left;
    color: white;
    cursor: pointer;
    background-color: green;
}

#page {
    display: inline-block;
    float:left;
    height:20px;
    color: white;
    cursor: pointer;
    background-color: purple;
}


/*現状なし*/
.currentImage {
    border: 3px solid white;
}